@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
}

html {
    font-size: 62.5%; /*62.5% de 16px = 10px para main font-size nessa página. Base 10.*/  
}

body {
    background-color: #D5E1EF;
    height: 100rem; 
    font-size: 1.6rem;

    display: flex;
    flex-direction: column; 

    /*Eixo principal*/
    justify-content: center; 
    /*Eixo transversal*/
    align-items: center; 
}

/*Cartão do QR Code*/
.qr-code-card {
    background-color: #FFFFFF;
    width: 32rem;
    height: 49.9rem;
    padding: 1.6rem 1.6rem 4rem 1.6rem;
    margin-bottom: 5rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    /*Eixo principal*/
    justify-content: center;
    /*Eixo transversal*/
    align-items: center; 
}

/*Imagem do QR Code*/
.qr-code-card img {
    width: 28.8rem;
    height: 28.8rem;
    
    border-radius: 1rem;
}

.text {
    /*background-color: lightblue;*/
    width: 28.8rem;
    height: 18.1rem;
    padding: 0.5rem; 

    margin: 2.4rem 0 0 0;

    display: flex;
    flex-direction: column;
    /*Eixo principal*/
    justify-content: center;
    /*Eixo transversal*/
    align-items: center;

    text-align: center; 
}

.text .title {
    /*background-color: forestgreen;*/
    width: 25.6rem;
    height: 5.2rem;
    
    font-size: 2.2rem;
    font-family: 'Outfit';
    font-weight: 700;
    color: #1F314F;
    
}

.paragraph {
    /*background-color: blueviolet;*/
    width: 25.6rem;
    height: 6.3rem;
    margin-top: 1.6rem;

    font-size: 1.5rem;
    font-family: 'Outfit';
    font-weight: 400;
    color: #68778D;
}

.attribution {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 1.0rem;
}